../.vs/*.*
/Sources/.vs
/Sources/Core/Core30/CoreLibCore30/bin/
/Sources/Core/Core30/CoreLibCore30/obj/
/Sources/dotNet45/Wpf45APICodePack/bin/
/Sources/dotNet45/Wpf45/bin/
/Sources/dotNet45/Wndows45/bin/
/Sources/dotNet45/Win45APICodePack/bin/
/Sources/dotNet45/Web45/bin/
/Sources/dotNet45/LogSystem45/bin/
/Sources/dotNet45/CoreLib45APICodePack/bin/
/Sources/dotNet45/CoreLib45/bin/
/Sources/dotNet45/CodeGenerator/bin/
/Sources/Tests/CoreLib45.Test/bin/
/Sources/Tests/CoreLibCore30ConApp/bin/
/Sources/Tests/CoreLibCore30Test/bin/
/Sources/Tests/TestConsole45/bin/
/Sources/Tests/TestWpfApp45/bin
*.pdb
