################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sources/Core/Core30/CoreLibCore30/bin/Debug/netcoreapp3.0
