<?xml
  version="1.0"
  encoding="utf-8"?>

<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="TestConsole.Properties.Settings.iLedgErpConnectionString"
         connectionString="Data Source=DEV-SERVER;Initial Catalog=iLedgERP;User ID=sa"
         providerName="System.Data.SqlClient" />
    <add name="TestConsole.Properties.Settings.DevServerConnectionString"
         connectionString="Data Source=DEV-SERVER;User ID=sa" />
    <add name="iLedgERPEntities"
         connectionString="metadata=res://*/DataSources.Model1.csdl|res://*/DataSources.Model1.ssdl|res://*/DataSources.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DEV-SERVER;Initial Catalog=iLedgERP;User ID=sa;MultipleActiveResultSets=True&quot;"
         providerName="System.Data.EntityClient" />
    <add name="iLedgERPEntities1"
         connectionString="metadata=res://*/DataSources.Model1.csdl|res://*/DataSources.Model1.ssdl|res://*/DataSources.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DEV-SERVER;Initial Catalog=iLedgERP;User ID=sa;MultipleActiveResultSets=True&quot;"
         providerName="System.Data.EntityClient" />
    <add name="TestConsole40.Properties.Settings.iLedgErpConnectionString"
         connectionString="Data Source=DEV-SERVER;Initial Catalog=iLedgERP;User ID=sa"
         providerName="System.Data.SqlClient" />
    <add name="TestConsole40.Properties.Settings.DevServerConnectionString"
         connectionString="Data Source=DEV-SERVER;User ID=sa" />
    <add name="TestConsole40.Properties.Settings.SqlServer"
         connectionString="Data Source=sql-server;Persist Security Info=True;User ID=sa;Password=idb"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>